<p style="color: green"><%= notice %></p>

<div class="container">
  <div style="text-align: center">
    <h1>XKCD Comic API</h1>
  </div>

  <div id="comic" style="display: flex; justify-content: center; align-items: stretch; flex-wrap: wrap; flex-direction: column; align-content: space-around;">
    <div class="col">
      <%= image_tag "#{@comic['img']}", alt: "#{@comic['alt']}" %>
    </div>
  </div>
  <div style="text-align: center">
    <h2>
      <%= @comic['title'] %>
    </h2>
  </div>
</div>